<!-- views/bookx/new.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add a Book</title>
</head>
<div class="nav-bar">
    <%- include('../partials/_navbar.ejs') %>

</div>

<div class="edit-navigate">
    <a class="nav-link" href="/">Back Home
    </a>
    <a class="nav-link" href="/books">View Your Books</a>
</div>



<body>

    <div class="book-intro">
        <h1>Edit <%=book.title%>
        </h1>
    </div>

    <div class="edit-book-form">
        <form action="/books/<%=book._id%>?_method=PUT" method="POST">

            <div class="auth-labels">
                <label for="title" class="details">Title:</label>
                <input type="text" name="title" id="title" class="text-box" value="<%=book.title%>" />
            </div>

            <div class="auth-labels">
                <label for="author" class="details">Author:</label>
                <input type="text" name="author" id="author" class="text-box" value="<%=book.author%>" />
            </div>

            <div class="auth-labels">
                <label for=" genre" class="details">Genre:</label>
                <input type="text" name="genre" id="genre" class="text-box" value="<%=book.genre%>" />
            </div>

            <div class="auth-labels">
                <label for=" pageNumber" class="details">Pages:</label>
                <input type="text" name="pageNumber" id="pageNumber" class="text-box" value="<%=book.pageNumber%>" />
            </div>

            <div class="auth-labels">
                <label for="notes" class="details">Notes:</label>
                <textarea type="text" id="notes" name="notes" class="text-box"> <%=book.notes%></textarea>
            </div>

            <div class="status">
                <label for=" status" class="details">Status:</label>
                <select id="status-dropbox" name="status">
                    <option value="Unread">
                        <%=book.status==="Unread" ? "selected" : "" %>
                            Unread
                    </option>
                    <option value="Finished">
                        <%=book.status==="Finished" ? "selected" : "" %>
                            Finished
                    </option>
                    <option value="Currently Reading">
                        <%=book.status==="Currently Reading" ? "selected" : "" %>
                            Currently Reading
                    </option>
                </select>
            </div>

            <div class="favorite">
                <label for="favorite" class="details">Favorite:</label>
                <input type="checkbox" id="favorite" name="favorite" <% if (book.favorite) {%> checked <%} %> />
            </div>

            <button class="submit" button type="submit">Submit</button>
        </form>
    </div>




</body>