<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>
        <%=book.title %>

    </title>
</head>
<div class="nav-bar">
    <%- include('../partials/_navbar.ejs') %>

</div>

<body>
    <h1>
        <%=book.title%> by <%=book.author%>
    </h1>

    <div class="book-details">

        <h3>
            Genre: <%=book.genre%>
        </h3>
        <h3>
            <%=book.pageNumber%> pages
        </h3>
        <h3>
            Status: <%=book.status%>
        </h3>

        <div class="action-container">
            <form class="edit-form" action="/books/<%=book._id%>/edit">
                <button class="book-action">Edit </button>
            </form>

            <form class="delete-form" action="/books/<%=book._id%>?_method=DELETE" method="POST">
                <button class="book-action" type="submit">Delete </button>
            </form>
        </div>
    </div>
    <a class="index-nav" href="/books/">Back to my Bookshelf</a>
</body>