<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Create a Shelf</title>
</head>
<div class="nav-bar">
    <%- include('../partials/_navbar.ejs') %>

</div>

<body>

    <div class="shelf-intro">
        <h1>Edit the <%=shelf.title%> Shelf</h1>
    </div>

    <div class="shelf-form">
        <form action="/shelves/" method="POST">

            <div class="view-shelf-title">
                <label for="title" class="details">Shelf Title:</label>
                <input type="text" name="title" id="title" value="<%=shelf.title%>" class="text-box" />
            </div>
            <div class="add-books-container">

                <p class="shelf-contents-title">Shelf Contents:</p>
                <% shelf.books.forEach(book=> { %>

                    <div class="shelf-book-list">

                        <li>
                            <a class="list-of-books-in-shelf" href="/books/<%=book._id %>">
                                <%=book.title%>
                            </a>
                            <%})%>
                        </li>
                    </div>
                    <div class="add-books">

                        <% books.forEach((book)=> { %>

                            <input type="checkbox" id="shelf-books" name="book-<%=book._id%>">
                            <label for="book-<%=book._id%>">
                                <%=book.title%>
                            </label>

                            <%})%>
                    </div>
            </div>
            <button class="submit" button type="submit">Update</button>
        </form>
    </div>



</body>